{% macro homeRubrique(idRubrique, Height, index) %}
			{% for rubrique in boucleRubriques({"idRubrique" : idRubrique }) %}
				<div class="block last item  span-24 produits-item" id="produits-item-{{ index }}">
					<div class="block span-6 produits-item-partie-gauche">
						<h2 class="block-title">{{ rubrique.getTitre() }}</h2>
						<div class="block-scrshot">
							{% for images in boucleRubriques({ "idParent" : rubrique.getIdRubrique()}) %}
								{% if images.isContainIdMot(1) %}
									{{ getSpipJquerySlider(images.getIdRubrique(), { "forceResize" : true, "width" : 216, theme : "Slider", "height" : Height, texte: false }) | raw }}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="block span-12 produits-item-partie-millieu">
							{{ rubrique.getTexte() | raw }}
						<a href="{{ path('SiteHomeBundle_lacarte') }}#categorie-{{ rubrique.getTitre() | idliteral }}"> Voir le détail </a>
					</div>
					<div class="block span-6 produits-item-partie-droite last">
						<div class="block-srcshot">
							<img src="{{ image(rubrique.getPathAbsoluteLocalLogo()).forceResize(220, Height) }}" alt="{{ rubrique.getTitre() }}">
						</div>
					</div>
					
				</div>
			{% endfor %}
{% endmacro %}

