{% extends "::base.html.twig" %}


{% block stylesheets %}
	    {% 
        		stylesheets output='css/mercerie.css' 
        		'@SiteHomeBundle/Resources/public/css/index.css'
        %}        		
        	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        {% endstylesheets %}
{% endblock %}

{% block body %}

{% import "SiteHomeBundle:Default:functions.html.twig" as tools %}

	<div class="block last produits-list prepend-top append-bottom">
			{{ tools.homeRubrique(6,196, 1) }}
			{{ tools.homeRubrique(7, 146, 2) }}
			{{ tools.homeRubrique(8, 146, 3) }}
			{{ tools.homeRubrique(11, 96, 4) }}
			{{ tools.homeRubrique(10, 96, 5) }}
	</div>

{% endblock %}
